domain       = "hoge.com"
alb_dns_name = "hoge-alb-123456789.us-west-2.elb.amazonaws.com"
alb_zone_id  = "A1B2CD3EFGHI4"
cert_validation_records = [
  {
    "name"  = "_a1234b5c67def8gh9i123jk45678km9n.hoge.com."
    "type"  = "CNAME"
    "value" = "_123a4b5c6e78912fg34h56ij78k91234.abcdefghij.acm-validations.aws."
  },
]
